*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
out
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
classes
/target/
.factorypath
build/
.springBeans
/.apt_generated/